<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <th:block th:insert="~{fragments/common :: title}"></th:block>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container mt-3">
    <form action="/lecture/create" method="post">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Тема лекции" name="topic">
        </div>
        <div class="mb-3">
            <textarea rows="10" class="form-control" id="summernote" name="content"></textarea>
        </div>
        <div><input type="submit" class="btn btn-secondary" value="Добавить"/></div>
    </form>
</div>
<th:block th:insert="~{fragments/common :: script}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script>
    $('#summernote').summernote({
        height: 300
    });
</script>
<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>