<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <th:block th:insert="~{fragments/common :: title}"></th:block>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container mt-3">
    <form  th:action="@{'/lecture/' + ${lecture.id} + '/delete'}" th:method="post">
        <div class="mb-3 mt-3">
            Лекция ID <a th:utext=${lecture.id}></a>, тема:  <a th:utext=${lecture.topic}></a> будет удалена<br>
        </div>
        <div><input type="submit" class="btn btn-secondary" value="Подтвердить"/></div>
    </form>
    <a href="/lectures">Назад</a> <br>
</div>

<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>