{{> /layout/header}}

<div class="container mt-3">

    <div class="container mt-3">
        <input type="hidden" id="id" value="{{lecture.id}}">
        <div class="mb-3">
            Статус лекции: {{lecture.status}}
        </div>
        <div class="mb-3 mt-3">
            <h1>{{lecture.topic}}</h1>
        </div>
        <hr />
        <div class="mb-3">
            {{{lecture.content}}}
        </div>
    </div>
<!--todo либо разные ссылки для админа и пользователя,  либо разное отображение в лекциях. Для пользователей - со статусами-->
<a href="/lectures">Назад</a> (* разграничить: для админа)<br>
<a href="/user/lectures">Назад</a>    (* разграничить: для студента - лекции со статусами)<br>
</div>

{{> /layout/footer}}