{{> /layout/header}}

<div class="container mt-3">
    <form action="/lecture/{{lecture.id}}" method="post">
        <input type="hidden" id="id" value="{{lecture.id}}">
       {{#userlecture}}
        <div class="mb-3">
            Статус лекции: {{userlecture.status}}
        </div>
       {{/userlecture}}

        {{^userlecture}}
            <div class="mb-3">
                Статус лекции: не определен
            </div>
        {{/userlecture}}
        <div class="mb-3 mt-3">
            <h1>{{lecture.topic}}</h1>
        </div>
        <hr />
        <div class="mb-3">
            {{{lecture.content}}}
        </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <div><input type="submit" class="btn btn-secondary" value="Завершить"/></div>
    </form>

<!--todo либо разные ссылки для админа и пользователя,  либо разное отображение в лекциях. Для пользователей - со статусами-->
    <br><br>
<a href="/lectures">Назад</a> (* разграничить: для админа)<br>
<a href="/user/lectures">Назад</a>    (* разграничить: для студента - лекции со статусами)<br>
</div>

{{> /layout/footer}}