<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <title>Лекции</title>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 10px;
    }
</style>

<div class="container mt-3">
    <div class="my-3" align="center">
       Добавить <a th:href="@{/lecture/create}">новую лекцию</a>
    </div>

    <h3>Список всех лекций:</h3>
    <a th:href="@{/lectures/export/excel}"> Загрузить в Excel</a> <br>

    <table>
        <tr>
            <th>Id</th>
            <th>Тема лекции</th>
            <th>Информация о лекции</th>
            <th>Изменить лекцию</th>
            <th>Удалить лекцию</th>
        </tr>

            <tr th:each="lecture: ${lectures}">
                <td th:text="${lecture.id}"/>
                <td><a th:href="@{/lecture/{id}(id=${lecture.id})}"> <pre th:text="${lecture.topic}"/></a></td>
                <td><a th:href="@{/lecture/{id}/users(id=${lecture.id})}"> просмотр пользователей </a></td>
                <td><a th:href="@{/lecture/{id}/update(id=${lecture.id})}"> изменить </a></td>
                <td><a th:href="@{/lecture/{id}/delete(id=${lecture.id})}"> удалить </a></td>
            </tr>

    </table>
</div>

<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>