{{> /layout/header}}

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 10px;
    }
</style>

<div class="container mt-3">
    <div class="my-3" align="center">
        Добавить <a href="/lecture/create">новую лекцию</a><br>
    </div>

    <h3>Список всех лекций:</h3>

    <table>
        <tr>
            <th>Id</th>
            <th>Тема лекции</th>
            <th>UserLecture</th>
            <th>Изменить лекцию</th>
            <th>Удалить лекцию</th>
        </tr>

        {{#lectures}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/lecture/{{id}}"> {{topic}} </a></td>
                <td><a href="/lecture/{{id}}/users"> просмотр пользователей </a></td>
                <td><a href="/lecture/{{id}}/update"> изменить </a></td>
                <td><a href="/lecture/{{id}}/delete"> удалить </a></td>
            </tr>
        {{/lectures}}

    </table>
</div>

{{> /layout/footer}}