<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <title>Обновление лекции</title>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container">

    <div class="container mt-3">
        <form action="/lecture/{{lecture.id}}/update" method="post">
            <input type="hidden" id="id" value="{{lecture.id}}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Тема лекции" name="topic"
                       value="{{lecture.topic}}">
            </div>
            <div class="mb-3">
            <textarea id="summernote" rows="10" class="form-control" name="content">
                {{lecture.content}}
            </textarea>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" class="btn btn-secondary" id="btn-update">Обновить</button>
        </form>
    </div>

    <script>
        $('#summernote').summernote({
            height: 300
        });
    </script>

</div>
<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>