{{> /layout/header}}

<div class="container mt-3">
    <form>
        <input type="hidden" id="id" value="{{lecture.id}}">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter title" id="title" value="{{lecture.topic}}">
        </div>
        <div class="mb-3">
            <textarea id="content" rows="10" class="form-control">
                {{lecture.content}}
            </textarea>
        </div>
        <button type="button" class="btn btn-secondary" id="btn-update">Обновить</button>
    </form>
</div>

<script>
    $('#summernote').summernote({
        height: 300
    });
</script>

{{> /layout/footer}}