{{> /layout/header}}

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 5px;
    }
</style>

<div class="container mt-3">
    <input type="hidden" id="id" value="{{principal.id}}">

    {{^lecture}}
        <div class="mb-3">
            Информация о прохождении лекций пользователями
        </div>
    {{/lecture}}

    {{#lecture}}
        <div class="mb-3">
            Информация о лекции "{{lecture.topic}}" <br>
            Детализация по пользователям
        </div>
    {{/lecture}}
    <table>
        <tr>
            <th>Id лекции</th>
            <th>Id пользователя</th>
            <th>Имя пользователя</th>
            <th>Статус лекции</th>
        </tr>

        {{#userlectures}}
            <tr>
                <td>{{lecture.id}}</td>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{status}}</td>
            </tr>
        {{/userlectures}}

    </table>

    <br><br>
    {{#lecture}}
        <a href="/lectures">Назад</a> <br>
    {{/lecture}}

    {{^lecture}}
        <a href="/">Назад</a> <br>
    {{/lecture}}
</div>

{{> /layout/footer}}