{{> /layout/header}}

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 5px;
    }
</style>

<div class="container mt-3">
    <input type="hidden" id="id" value="{{principal.id}}">

    {{^currentlecture}}
        <div class="mb-3">
            Прогресс обучения пользователей  <a href="/lectures/users/export/excel"> Загрузить в Excel</a><br>
        </div>
    {{/currentlecture}}

    {{#currentlecture}}
        <div class="mb-3">
            Информация о лекции "{{currentlecture.topic}}" <br>
            Детализация по пользователям
        </div>
    {{/currentlecture}}
    <table>
        <tr>
            <th>Id лекции</th>
            {{^currentlecture}}
                <th>Тема лекции</th>
            {{/currentlecture}}
            <th>Id пользователя</th>
            <th>Имя пользователя</th>
            <th>Статус лекции</th>
        </tr>

        {{#userlectures}}
            <tr>
                <td>{{lecture.id}}</td>
                {{^currentlecture}}
                    <td>{{lecture.topic}}</td>
                {{/currentlecture}}
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{status}}</td>
            </tr>
        {{/userlectures}}

    </table>

    <br><br>
    {{#currentlecture}}
        <a href="/lectures">Назад</a> <br>
    {{/currentlecture}}

    {{^currentlecture}}
        <a href="/">Назад</a> <br>
    {{/currentlecture}}
</div>

{{> /layout/footer}}