<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <title>Профиль</title>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container">

    <div class="container mt-3">
        <form action="/user/update" method="get">
            <div class="mb-3 mt-3">
                <a th:utext="${principal.username}"></a>
            </div>
            <div class="mb-3">
                <a th:utext="${principal.email}"></a>
            </div>
            <div><input type="submit" class="btn btn-secondary" value="Изменить"/></div>
        </form>
    </div>

</div>
<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>