{{> /layout/header}}

<div class="container mt-3">
    <form action="/user/update" method="get">
        <div class="mb-3 mt-3">
            {{user.username}}
        </div>
        <div class="mb-3">
            {{user.password}}
        </div>
        <div class="mb-3">
            {{user.email}}
        </div>
        <div><input type="submit" class="btn btn-secondary" value="Изменить"/></div>
    </form>
</div>

{{> /layout/footer}}