<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <title>Лекции пользователя</title>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 5px;
    }
</style>

<div class="container mt-3">
    <h3>Мои лекции:</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')">Статус</th>
        </tr>

        <tr th:each="userlecture: ${myLectures}">
            <td th:text="${userlecture.id.lectureId}"/>
            <td><a href="userlectures.html" th:href="@{'/lecture/'+${userlecture.id.lectureId}}">
                <pre th:text="${userlecture.lecture.topic}"/>
            </a>
            </td>
            <td sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')">
                <span th:text="${userlecture.status}"></span></td>
        </tr>

    </table>
</div>

<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>