{{> /layout/header}}

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 5px;
    }
</style>

<div class="container mt-3">
    <input type="hidden" id="id" value="{{principal.id}}">
    <h3>Мои лекции:</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Topic</th>
            <th>Status</th>
        </tr>

        {{#myLectures}}
            <tr>
                <td>{{id.lectureId}}</td>
                <td><a href="/lecture/{{id.lectureId}}"> {{lecture.topic}} </a></td>
                <td>{{status}}</td>

            </tr>
        {{/myLectures}}

    </table>
</div>

{{> /layout/footer}}