{{> /layout/header}}

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 5px;
    }
</style>

<div class="container mt-3">
    <h3>Список всех пользователей:</h3>

    <div class="my-3">
        <a href="/users/export/excel"> Загрузить в Excel</a><br>
    </div>

    <table>
        <tr>
            <th>Id</th>
            <th>Имя пользователя</th>
            <th>email</th>
            <th>Информация об обучении </th>
        </tr>

        {{#users}}
            <tr>
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td><a href="/user/{{id}}/lectures"> Посмотреть </a></td>
            </tr>
        {{/users}}

    </table>
</div>

{{> /layout/footer}}