{{> /layout/header}}

<div class="container mt-3">
    <form action="/login" method="post" class="form-group">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <div><input type="submit" value="Войти"/></div>
    </form>
</div>

{{> /layout/footer}}