{{> /layout/header}}

<div class="container mt-3">
    <form action="/login" method="post" class="form-group">
        <div class="mb-3 mt-3"><label> Имя пользователя: <input type="text" class="form-control" name="username"/> </label></div>
        <div class="mb-3"><label> Пароль: <input type="password" class="form-control" name="password"/> </label></div>
        <div><input type="submit" class="btn btn-secondary" value="Войти"/></div>
    </form>
    {{#message}}
        {{message}}
    {{/message}}
</div>

{{> /layout/footer}}