<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <th:block th:insert="~{fragments/common :: title}"></th:block>
    <th:block th:insert="~{fragments/common :: link}"></th:block>

</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container">
    <div class="col-lg-4 offset-lg-4 shadow mt-3 p-4 bg-white">
        <h2>Вход</h2>

        <div th:if="${param.error}" class="alert alert-danger">
            Неверный логин или пароль.
        </div>
        <div th:if="${param.logout}" class="alert alert-info">
            Вы вышли из системы.
        </div>

        <form th:action="@{/login}" method="post">
<!--        <form th:action="@{/perform_login}" method="post">-->
            <div><label> Имя пользователя: <input type="text" class="form-control" name="username"/> </label></div>
            <div><label> Пароль: <input type="password" class="form-control" name="password"/> </label></div>
            <div><input type="submit" class="btn btn-secondary" value="Войти"/></div>
        </form>

    </div>
</div>

<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>