{{> /layout/header}}

<div class="container mt-3">
    <form action="/registration" method="post">
        <div class="mb-3 mt-3"><label> Имя пользователя: <input type="text" class="form-control" name="username"/> </label></div>
        <div class="mb-3"><label> Пароль: <input type="password" class="form-control" name="password"/> </label></div>
        <div class="mb-3"><label> Email : <input type="text" class="form-control" name="email"/> </label></div>
        <div><input type="submit" class="btn btn-secondary" value="Зарегистрироваться"/></div>
    </form>
    {{#message}}
        {{message}}
    {{/message}}
</div>

{{> /layout/footer}}