<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <th:block th:insert="~{fragments/common :: title}"></th:block>
    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container mt-3">
    <form th:action="@{${user.id} + '/update'}" method="post">
        <input type="hidden" id="id" value="${user.id}">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" th:value="${user.username}" name="username" readonly>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" th:value="${user.email}" name="email" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" th:value="${user.password}" name="password" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" th:value="${user.password}" name="confirmpassword" required>
        </div>
        <div><input type="submit" class="btn btn-secondary" value="Обновить"/></div>
    </form>
</div>

<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>