{{> /layout/header}}

<div class="container mt-3">
    <form action="/user/{{principal.id}}" method="post">
        <input type="hidden" id="id" value="{{principal.id}}">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" value="{{principal.username}}" name="username" readonly>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" value="{{principal.password}}" name="password" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" value="{{principal.email}}" name="email" required>
        </div>
        <div><input type="submit" class="btn btn-secondary" value="Обновить"/></div>
    </form>
</div>

{{> /layout/footer}}