{{> /layout/header}}

<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #999;
        padding: 5px;
    }
</style>

<div class="container mt-3">
    <input type="hidden" id="id" value="{{principal.id}}">
    <h3>Лекции пользователя {{user.username}}:</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Статус</th>

        </tr>

        {{#userLectures}}
            <tr>
                <td>{{id.lectureId}}</td>
                <td>{{lecture.topic}}</td>
                <td>{{status}}</td>
            </tr>
        {{/userLectures}}

    </table>
    <br><br>
    <a href="/users">Назад</a> <br>
</div>

{{> /layout/footer}}