<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JavaKids</title>
  <link th:href="@{/}" rel="shortcut icon">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <link th:href="@{/styles/common.css}" rel="stylesheet" />

</head>
<body>
<nav class='navbar navbar-expand-lg sticky-top navbar-dark bg-dark' th:fragment="header">
  <a class='navbar-brand pr-5' href="#" th:href="@{/}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated() and !hasRole('ROLE_ADMIN')">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/user/lectures}">Мои лекции</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/user/detail}">Профиль</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> Пользователь: <span th:text="${#authentication.name}"></span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
     <li class="nav-item" sec:authorize="isAuthenticated()">
       <form th:action="@{/logout}" method="post">
         <input type="submit" class="btn btn-primary" value="Выход">
       </form>
      </li>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
      <a class="btn btn-primary" href="#" th:href="@{/login}">Вход</a>
      </li>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link" href="#" th:href="@{/registration}">Регистрация</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<footer class="footer">
  <div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1>JavaKids - обучение детей программированию на JAVA</h1>
    <p>Мы рады видеть Вас на нашей платформе для обучения</p>
  </div>
</footer>
</body>
</html>