<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{fragments/common :: meta}"></th:block>

    <title>Ошибка</title>
    <style>
        .red_color {
            color: red;
        }
    </style>

    <th:block th:insert="~{fragments/common :: link}"></th:block>
</head>
<body>
<th:block th:insert="fragments/common :: header"></th:block>
<div class="container">


    <div class="container mt-3">
        <h1 class="red_color">Запрошенной страницы не существует</h1>
        <hr/>
        <a th:href="@{'/'}">Перейти на главную страницу</a>
    </div>
</div>

<th:block th:insert="fragments/common :: footer"></th:block>
</body>
</html>