<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <style>
        .red_color {
            color: red;
        }
    </style>
</head>

<body>
    <h1 class="red_color">Запрошенной страницы не существует</h1>
    <hr />
    <a href="/">Перейти на главную страницу</a>
</body>

</html>