{{> /layout/header}}

<div class="container mt-3">
    <form action="/createLecture" method="post">
        <div class="mb-3 mt-3"><input type="text" name="topic" placeholder="Тема лекции"></div>
        <p><textarea name="content" placeholder="Основной текст лекции"  rows="15" cols="100"></textarea></p>
        <div><input class="button" type="submit"  value="Добавить"/></div>
    </form>
</div>
{{> /layout/footer}}