<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Javakids</title>
</head>
<body>

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input class="button" type="submit" value="Выйти"/>
</form>

<div class="list-group list-group-flush">
    <p class=".text-info list-group-item">
        Пользователь: {{username}}<br>
    </p>
</div>
<div>
    <h3>Сайт для изучения Java</h3>
</div>

<a href="/lectures">Список лекций</a>
</body>
</html>