<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Привет, пользователь!</title>
</head>
<body>
<div>Привет, пользователь!</div>

<div class="list-group list-group-flush">
    <p class=".text-info list-group-item">
         Это наша первая страничка.<br>
    </p>

    <p class=".text-info list-group-item">
        Позравьте нас :)<br>
    </p>

    <p class=".text-danger list-group-item">
        Ну что, начинаем!.<br>
    </p>
</div>

<a href="/main">Главная страница</a>
</body>
</html>