{{> /layout/header}}

<div class="container mt-3">
    <div class="mb-3 mt-3">
        Добро пожаловать: {{principal.username}}<br>
    </div>
    <br><br>
    {{#master}}
        <a href="/lecture/create">Добавить новую лекцию</a><br><br>
        <a href="/lectures">Список всех лекций</a> <br><br>
        <a href="/lectures/users">Прогресс обучения пользователей</a> <br><br>
        <a href="/users">Список всех пользователей</a> <br><br>
    {{/master}}

</div>

{{> /layout/footer}}