{{> /layout/header}}

<div class="container mt-3">
    <div class="mb-3 mt-3">
        Добро пожаловать: {{user.username}}<br><br><br>
        Список всех пользователей: <a href="/users">Пользователи</a> (только для админа)<br>
        Список всех лекций: <a href="/lectures">Список лекций</a> (только для админа)<br>
        <br><br><br><br><br><br>
    </div>
</div>

{{> /layout/footer}}