{{> /layout/header}}

<div class="container mt-3">
    <form action="/createLec" method="post">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Тема лекции" name="topic">
        </div>
        <div class="mb-3">
            <textarea rows="10" class="form-control" id="summernote" name="content"></textarea>
        </div>
        <div><input type="submit" class="btn btn-secondary" value="Добавить"/></div>
    </form>
</div>

<script>
    $('#summernote').summernote({
        height: 300
    });
</script>

{{> /layout/footer}}