{{> /layout/header}}

<div class="container mt-3">
    <div class="my-3" align="center">
        Добавить <a href="/createLecture">новую лекцию</a><br>
    </div>

    <h3>Список всех лекций:</h3>

    <table>
        <tr>
            <th>Id</th>
            <th>Topic</th>
        </tr>

        {{#lectures}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/lecture/{{id}}"> {{topic}} </a></td>
            </tr>
        {{/lectures}}

    </table>
</div>

{{> /layout/footer}}